<div class="data">
    <a ng-click="userDataViewCntr.editUser()" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i> Edit</a>
    <ul>
        <li>
            Name: <span>{{userDataViewCntr.user.name}}</span>
        </li>
        <li>
            Last Name: <span>{{userDataViewCntr.user.lastName}}</span>
        </li>
        <li>
            Birthday: <span>{{userDataViewCntr.user.birthday | date:"dd.MM.yyyy"}}</span>
        </li>
        <li>
            Sex: <span>{{userDataViewCntr.user.sex}}</span>
        </li>
    </ul>
</div>
