<div class="data">
    <form>
        <button ng-click="saveEditing()">Save</button>
        <button ng-click="cancelEditing()">Cancel</button>
        <button ng-click="deleteUserHandlerButton()">Delete</button>
        <label class="data_item">Name: <input type="text" ng-model="tempUser.name"></label>
        <label class="data_item">Last Name: <input type="text" ng-model="tempUser.lastName"></label>
        <label class="data_item">Birthday: <input type="text" ng-model="tempUser.birthday"></label>
    </form>
</div>